USE [master]
GO
/****** Object:  Database [Ecoule]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE DATABASE [Ecoule]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ecoule', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Ecoule.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ecoule_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Ecoule_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecoule].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecoule]
GO
/****** Object:  Table [dbo].[APPRENDRE]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPRENDRE](
	[NUMERO_SECTION] [int] NOT NULL,
	[ID_MODULE] [int] NOT NULL,
	[COEFFICIANT] [int] NOT NULL,
 CONSTRAINT [PK_APPRENDRE] PRIMARY KEY CLUSTERED 
(
	[NUMERO_SECTION] ASC,
	[ID_MODULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_SEANCE]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_SEANCE](
	[ID_SEANCE] [int] NOT NULL,
	[ID_MODULE] [int] NOT NULL,
	[ID_GROUP] [int] NOT NULL,
	[NUMERO_SALLE] [int] NOT NULL,
	[PROFESSEUR] [int] NOT NULL,
 CONSTRAINT [PK_DETAIL_SEANCE] PRIMARY KEY CLUSTERED 
(
	[ID_SEANCE] ASC,
	[ID_MODULE] ASC,
	[ID_GROUP] ASC,
	[PROFESSEUR] ASC,
	[NUMERO_SALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETUDIANT]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETUDIANT](
	[NUMERO_ETUDIANT] [int] IDENTITY(1,1) NOT NULL,
	[ID_GROUP] [int] NOT NULL,
	[NOM] [varchar](50) NOT NULL,
	[PRENOM] [varchar](50) NOT NULL,
	[TELEPHONE] [varchar](10) NOT NULL,
	[DATENAISSANCE] [date] NOT NULL,
	[MOT_PASSE_ETUDIANT] [varchar](10) NOT NULL,
	[EMAIL]  AS (((([NOM]+'.')+[PRENOM])+CONVERT([varchar],[NUMERO_ETUDIANT]))+'@etd.ma'),
	[ADRESSE] [varchar](50) NOT NULL,
	[SEXE] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXAME]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAME](
	[ID_EXAME] [int] NOT NULL,
	[ID_MODULE] [int] NOT NULL,
	[DATE_EXAME] [date] NOT NULL,
 CONSTRAINT [PK_EXAME] PRIMARY KEY CLUSTERED 
(
	[ID_EXAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP](
	[ID_GROUP] [int] NOT NULL,
	[NUMERO_SECTION] [int] NOT NULL,
	[NUMERO_GROUP] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODULE]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULE](
	[ID_MODULE] [int] NOT NULL,
	[LIBELLE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MODULE] PRIMARY KEY CLUSTERED 
(
	[ID_MODULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTES]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTES](
	[ID_EXAME] [int] NOT NULL,
	[NUMERO_ETUDIANT] [int] NOT NULL,
	[NOTE] [float] NOT NULL,
 CONSTRAINT [PK_NOTES] PRIMARY KEY CLUSTERED 
(
	[ID_EXAME] ASC,
	[NUMERO_ETUDIANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTICIPER]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTICIPER](
	[NUMERO_ETUDIANT] [int] NOT NULL,
	[ID_SEANCE] [int] NOT NULL,
 CONSTRAINT [PK_PARTICIPER] PRIMARY KEY CLUSTERED 
(
	[NUMERO_ETUDIANT] ASC,
	[ID_SEANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESSEUR]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSEUR](
	[MATRICULE] [int] NOT NULL,
	[NOM] [varchar](50) NOT NULL,
	[PRENOM] [varchar](50) NOT NULL,
	[DATENAISSANCE] [date] NOT NULL,
	[TELEPHONE] [varchar](10) NOT NULL,
	[EMAIL]  AS (((([NOM]+'.')+[PRENOM])+CONVERT([varchar],[MATRICULE]))+'@prof.ma'),
	[MOT_PASSE_PROF] [varchar](10) NOT NULL,
	[SEXE] [char](1) NULL,
	[ADRESSE] [varchar](50) NULL,
	[SALAIRE] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALLE]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALLE](
	[NUMERO_SALLE] [int] NOT NULL,
	[UTILISATION] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEANCE]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEANCE](
	[ID_SEANCE] [int] IDENTITY(1,1) NOT NULL,
	[DATE_SEANCE] [date] NOT NULL,
	[HEURE_DEBUT] [time](7) NOT NULL,
	[HEURE_FIN] [time](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECTION]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTION](
	[NUMERO_SECTION] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[APPRENDRE] ([NUMERO_SECTION], [ID_MODULE], [COEFFICIANT]) VALUES (1, 1, 1)
INSERT [dbo].[APPRENDRE] ([NUMERO_SECTION], [ID_MODULE], [COEFFICIANT]) VALUES (1, 2, 4)
INSERT [dbo].[APPRENDRE] ([NUMERO_SECTION], [ID_MODULE], [COEFFICIANT]) VALUES (1, 3, 2)
GO
INSERT [dbo].[DETAIL_SEANCE] ([ID_SEANCE], [ID_MODULE], [ID_GROUP], [NUMERO_SALLE], [PROFESSEUR]) VALUES (3, 1, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[ETUDIANT] ON 

INSERT [dbo].[ETUDIANT] ([NUMERO_ETUDIANT], [ID_GROUP], [NOM], [PRENOM], [TELEPHONE], [DATENAISSANCE], [MOT_PASSE_ETUDIANT], [ADRESSE], [SEXE]) VALUES (1, 1, N'ahmadi', N'imad', N'0696274519', CAST(N'2008-08-21' AS Date), N'h2ixg69au7', N'17 rue 1 oumrabiaa', N'M')
INSERT [dbo].[ETUDIANT] ([NUMERO_ETUDIANT], [ID_GROUP], [NOM], [PRENOM], [TELEPHONE], [DATENAISSANCE], [MOT_PASSE_ETUDIANT], [ADRESSE], [SEXE]) VALUES (2, 1, N'ahmadi', N'imad', N'0696274519', CAST(N'2008-08-21' AS Date), N'h2ixg69au7', N'17 rue 1 oumrabiaa', N'M')
INSERT [dbo].[ETUDIANT] ([NUMERO_ETUDIANT], [ID_GROUP], [NOM], [PRENOM], [TELEPHONE], [DATENAISSANCE], [MOT_PASSE_ETUDIANT], [ADRESSE], [SEXE]) VALUES (4, 1, N'agba', N'marwa', N'0682647572', CAST(N'2008-02-11' AS Date), N'ph84djbf94', N'15 rue 12 saad lkhir', N'F')
SET IDENTITY_INSERT [dbo].[ETUDIANT] OFF
GO
INSERT [dbo].[EXAME] ([ID_EXAME], [ID_MODULE], [DATE_EXAME]) VALUES (1, 1, CAST(N'2022-05-03' AS Date))
INSERT [dbo].[EXAME] ([ID_EXAME], [ID_MODULE], [DATE_EXAME]) VALUES (2, 2, CAST(N'2022-01-23' AS Date))
GO
INSERT [dbo].[GROUP] ([ID_GROUP], [NUMERO_SECTION], [NUMERO_GROUP]) VALUES (1, 1, 1)
INSERT [dbo].[GROUP] ([ID_GROUP], [NUMERO_SECTION], [NUMERO_GROUP]) VALUES (2, 2, 1)
INSERT [dbo].[GROUP] ([ID_GROUP], [NUMERO_SECTION], [NUMERO_GROUP]) VALUES (3, 3, 1)
GO
INSERT [dbo].[MODULE] ([ID_MODULE], [LIBELLE]) VALUES (1, N'anglais')
INSERT [dbo].[MODULE] ([ID_MODULE], [LIBELLE]) VALUES (2, N'arabe')
INSERT [dbo].[MODULE] ([ID_MODULE], [LIBELLE]) VALUES (3, N'Education Islamique')
GO
INSERT [dbo].[NOTES] ([ID_EXAME], [NUMERO_ETUDIANT], [NOTE]) VALUES (1, 5, 11)
INSERT [dbo].[NOTES] ([ID_EXAME], [NUMERO_ETUDIANT], [NOTE]) VALUES (1, 11, 20)
INSERT [dbo].[NOTES] ([ID_EXAME], [NUMERO_ETUDIANT], [NOTE]) VALUES (2, 11, 18)
GO
INSERT [dbo].[PROFESSEUR] ([MATRICULE], [NOM], [PRENOM], [DATENAISSANCE], [TELEPHONE], [MOT_PASSE_PROF], [SEXE], [ADRESSE], [SALAIRE]) VALUES (1, N'alami', N'ahmed', CAST(N'1985-10-05' AS Date), N'0682675217', N'hi38h5kc3l', N'M', N'sidi rhal ', 7000.0000)
GO
INSERT [dbo].[SALLE] ([NUMERO_SALLE], [UTILISATION]) VALUES (1, N'seance')
INSERT [dbo].[SALLE] ([NUMERO_SALLE], [UTILISATION]) VALUES (2, N'seance')
INSERT [dbo].[SALLE] ([NUMERO_SALLE], [UTILISATION]) VALUES (3, N'seance')
GO
SET IDENTITY_INSERT [dbo].[SEANCE] ON 

INSERT [dbo].[SEANCE] ([ID_SEANCE], [DATE_SEANCE], [HEURE_DEBUT], [HEURE_FIN]) VALUES (3, CAST(N'2022-05-10' AS Date), CAST(N'08:30:00' AS Time), CAST(N'09:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[SEANCE] OFF
GO
INSERT [dbo].[SECTION] ([NUMERO_SECTION]) VALUES (1)
INSERT [dbo].[SECTION] ([NUMERO_SECTION]) VALUES (2)
INSERT [dbo].[SECTION] ([NUMERO_SECTION]) VALUES (3)
GO
/****** Object:  Index [APPRENDRE_NUMERO_SECTION]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [APPRENDRE_NUMERO_SECTION] ON [dbo].[APPRENDRE]
(
	[NUMERO_SECTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ID_SEANCE]    Script Date: 5/13/2022 5:28:41 PM ******/
ALTER TABLE [dbo].[DETAIL_SEANCE] ADD  CONSTRAINT [UQ_ID_SEANCE] UNIQUE NONCLUSTERED 
(
	[ID_SEANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DETAIL_ID_MODULE]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [DETAIL_ID_MODULE] ON [dbo].[DETAIL_SEANCE]
(
	[ID_MODULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DETAIL_SEANCE_ID_GROUP]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [DETAIL_SEANCE_ID_GROUP] ON [dbo].[DETAIL_SEANCE]
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DETAIL_SEANCE_ID_SEANCE]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [DETAIL_SEANCE_ID_SEANCE] ON [dbo].[DETAIL_SEANCE]
(
	[ID_SEANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DETAIL_SEANCE_NUMERO_SALLE]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [DETAIL_SEANCE_NUMERO_SALLE] ON [dbo].[DETAIL_SEANCE]
(
	[NUMERO_SALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DETAIL_SEANCE_PROF]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [DETAIL_SEANCE_PROF] ON [dbo].[DETAIL_SEANCE]
(
	[PROFESSEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_ETUDIANT]    Script Date: 5/13/2022 5:28:41 PM ******/
ALTER TABLE [dbo].[ETUDIANT] ADD  CONSTRAINT [PK_ETUDIANT] PRIMARY KEY NONCLUSTERED 
(
	[NUMERO_ETUDIANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [REGROUPER_ID_GROUP]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [REGROUPER_ID_GROUP] ON [dbo].[ETUDIANT]
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [EXAME_ID_MODULE]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [EXAME_ID_MODULE] ON [dbo].[EXAME]
(
	[ID_MODULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_GROUP]    Script Date: 5/13/2022 5:28:41 PM ******/
ALTER TABLE [dbo].[GROUP] ADD  CONSTRAINT [PK_GROUP] PRIMARY KEY NONCLUSTERED 
(
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_section_group_GROUP]    Script Date: 5/13/2022 5:28:41 PM ******/
ALTER TABLE [dbo].[GROUP] ADD  CONSTRAINT [UQ_section_group_GROUP] UNIQUE NONCLUSTERED 
(
	[NUMERO_SECTION] ASC,
	[NUMERO_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [AVOIR_NUMERO_SECTION]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [AVOIR_NUMERO_SECTION] ON [dbo].[GROUP]
(
	[NUMERO_SECTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LIBELLE_MODULE]    Script Date: 5/13/2022 5:28:41 PM ******/
ALTER TABLE [dbo].[MODULE] ADD  CONSTRAINT [UQ_LIBELLE_MODULE] UNIQUE NONCLUSTERED 
(
	[LIBELLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NOTES_NUMERO_ETUDIANT]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [NOTES_NUMERO_ETUDIANT] ON [dbo].[NOTES]
(
	[NUMERO_ETUDIANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PARTICIPER_ID_SEANCE]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [PARTICIPER_ID_SEANCE] ON [dbo].[PARTICIPER]
(
	[ID_SEANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PARTICIPER_NUMERO_ETUDIANT]    Script Date: 5/13/2022 5:28:41 PM ******/
CREATE NONCLUSTERED INDEX [PARTICIPER_NUMERO_ETUDIANT] ON [dbo].[PARTICIPER]
(
	[NUMERO_ETUDIANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_PROFESSEUR]    Script Date: 5/13/2022 5:28:41 PM ******/
ALTER TABLE [dbo].[PROFESSEUR] ADD  CONSTRAINT [PK_PROFESSEUR] PRIMARY KEY NONCLUSTERED 
(
	[MATRICULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_tele_prof]    Script Date: 5/13/2022 5:28:41 PM ******/
ALTER TABLE [dbo].[PROFESSEUR] ADD  CONSTRAINT [UQ_tele_prof] UNIQUE NONCLUSTERED 
(
	[TELEPHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_SALLE]    Script Date: 5/13/2022 5:28:41 PM ******/
ALTER TABLE [dbo].[SALLE] ADD  CONSTRAINT [PK_SALLE] PRIMARY KEY NONCLUSTERED 
(
	[NUMERO_SALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_SEANCE]    Script Date: 5/13/2022 5:28:41 PM ******/
ALTER TABLE [dbo].[SEANCE] ADD  CONSTRAINT [PK_SEANCE] PRIMARY KEY NONCLUSTERED 
(
	[ID_SEANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_SECTION]    Script Date: 5/13/2022 5:28:41 PM ******/
ALTER TABLE [dbo].[SECTION] ADD  CONSTRAINT [PK_SECTION] PRIMARY KEY NONCLUSTERED 
(
	[NUMERO_SECTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPRENDRE]  WITH CHECK ADD  CONSTRAINT [FK_APPRENDRE_MODULE] FOREIGN KEY([ID_MODULE])
REFERENCES [dbo].[MODULE] ([ID_MODULE])
GO
ALTER TABLE [dbo].[APPRENDRE] CHECK CONSTRAINT [FK_APPRENDRE_MODULE]
GO
ALTER TABLE [dbo].[APPRENDRE]  WITH CHECK ADD  CONSTRAINT [FK_SECTION_APPRENDRE] FOREIGN KEY([NUMERO_SECTION])
REFERENCES [dbo].[SECTION] ([NUMERO_SECTION])
GO
ALTER TABLE [dbo].[APPRENDRE] CHECK CONSTRAINT [FK_SECTION_APPRENDRE]
GO
ALTER TABLE [dbo].[DETAIL_SEANCE]  WITH CHECK ADD  CONSTRAINT [FK_DETAIL_SEANCE_MODULE] FOREIGN KEY([ID_MODULE])
REFERENCES [dbo].[MODULE] ([ID_MODULE])
GO
ALTER TABLE [dbo].[DETAIL_SEANCE] CHECK CONSTRAINT [FK_DETAIL_SEANCE_MODULE]
GO
ALTER TABLE [dbo].[DETAIL_SEANCE]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_DETAIL_SEANCE] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP] ([ID_GROUP])
GO
ALTER TABLE [dbo].[DETAIL_SEANCE] CHECK CONSTRAINT [FK_GROUP_DETAIL_SEANCE]
GO
ALTER TABLE [dbo].[DETAIL_SEANCE]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSEUR_DETAIL_SEANCE] FOREIGN KEY([PROFESSEUR])
REFERENCES [dbo].[PROFESSEUR] ([MATRICULE])
GO
ALTER TABLE [dbo].[DETAIL_SEANCE] CHECK CONSTRAINT [FK_PROFESSEUR_DETAIL_SEANCE]
GO
ALTER TABLE [dbo].[DETAIL_SEANCE]  WITH CHECK ADD  CONSTRAINT [FK_SALLE_DETAIL_SEANCE] FOREIGN KEY([NUMERO_SALLE])
REFERENCES [dbo].[SALLE] ([NUMERO_SALLE])
GO
ALTER TABLE [dbo].[DETAIL_SEANCE] CHECK CONSTRAINT [FK_SALLE_DETAIL_SEANCE]
GO
ALTER TABLE [dbo].[DETAIL_SEANCE]  WITH CHECK ADD  CONSTRAINT [FK_SEANCE_DETAIL_SEANCE] FOREIGN KEY([ID_SEANCE])
REFERENCES [dbo].[SEANCE] ([ID_SEANCE])
GO
ALTER TABLE [dbo].[DETAIL_SEANCE] CHECK CONSTRAINT [FK_SEANCE_DETAIL_SEANCE]
GO
ALTER TABLE [dbo].[ETUDIANT]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_ETUDIANT] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[GROUP] ([ID_GROUP])
GO
ALTER TABLE [dbo].[ETUDIANT] CHECK CONSTRAINT [FK_GROUP_ETUDIANT]
GO
ALTER TABLE [dbo].[EXAME]  WITH CHECK ADD  CONSTRAINT [FK_EXAME_MODULE] FOREIGN KEY([ID_MODULE])
REFERENCES [dbo].[MODULE] ([ID_MODULE])
GO
ALTER TABLE [dbo].[EXAME] CHECK CONSTRAINT [FK_EXAME_MODULE]
GO
ALTER TABLE [dbo].[GROUP]  WITH CHECK ADD  CONSTRAINT [FK_SECTION_GROUP] FOREIGN KEY([NUMERO_SECTION])
REFERENCES [dbo].[SECTION] ([NUMERO_SECTION])
GO
ALTER TABLE [dbo].[GROUP] CHECK CONSTRAINT [FK_SECTION_GROUP]
GO
ALTER TABLE [dbo].[NOTES]  WITH CHECK ADD  CONSTRAINT [FK_NOTES_ETUDIANT] FOREIGN KEY([NUMERO_ETUDIANT])
REFERENCES [dbo].[ETUDIANT] ([NUMERO_ETUDIANT])
GO
ALTER TABLE [dbo].[NOTES] CHECK CONSTRAINT [FK_NOTES_ETUDIANT]
GO
ALTER TABLE [dbo].[NOTES]  WITH CHECK ADD  CONSTRAINT [FK_NOTES_EXAME] FOREIGN KEY([ID_EXAME])
REFERENCES [dbo].[EXAME] ([ID_EXAME])
GO
ALTER TABLE [dbo].[NOTES] CHECK CONSTRAINT [FK_NOTES_EXAME]
GO
ALTER TABLE [dbo].[PARTICIPER]  WITH CHECK ADD  CONSTRAINT [FK_ETUDIANT_PARTICIPER] FOREIGN KEY([NUMERO_ETUDIANT])
REFERENCES [dbo].[ETUDIANT] ([NUMERO_ETUDIANT])
GO
ALTER TABLE [dbo].[PARTICIPER] CHECK CONSTRAINT [FK_ETUDIANT_PARTICIPER]
GO
ALTER TABLE [dbo].[PARTICIPER]  WITH CHECK ADD  CONSTRAINT [FK_SEANCE_PARTICIPER] FOREIGN KEY([ID_SEANCE])
REFERENCES [dbo].[SEANCE] ([ID_SEANCE])
GO
ALTER TABLE [dbo].[PARTICIPER] CHECK CONSTRAINT [FK_SEANCE_PARTICIPER]
GO
ALTER TABLE [dbo].[APPRENDRE]  WITH CHECK ADD  CONSTRAINT [CK_coufficiant_apprendre] CHECK  (([COEFFICIANT]>=(1) AND [COEFFICIANT]<=(6)))
GO
ALTER TABLE [dbo].[APPRENDRE] CHECK CONSTRAINT [CK_coufficiant_apprendre]
GO
ALTER TABLE [dbo].[ETUDIANT]  WITH CHECK ADD  CONSTRAINT [CK_dateNaissance_etudiant] CHECK  (([DATENAISSANCE]<dateadd(year,(-7),getdate())))
GO
ALTER TABLE [dbo].[ETUDIANT] CHECK CONSTRAINT [CK_dateNaissance_etudiant]
GO
ALTER TABLE [dbo].[ETUDIANT]  WITH CHECK ADD  CONSTRAINT [CK_sexe_Etudiant] CHECK  (([SEXE]='F' OR [SEXE]='M'))
GO
ALTER TABLE [dbo].[ETUDIANT] CHECK CONSTRAINT [CK_sexe_Etudiant]
GO
ALTER TABLE [dbo].[ETUDIANT]  WITH CHECK ADD  CONSTRAINT [CK_tele_etudiant] CHECK  (([TELEPHONE] like '05%' OR [TELEPHONE] like '06%' OR [TELEPHONE] like '07%'))
GO
ALTER TABLE [dbo].[ETUDIANT] CHECK CONSTRAINT [CK_tele_etudiant]
GO
ALTER TABLE [dbo].[EXAME]  WITH CHECK ADD  CONSTRAINT [CK_DATE_EXAME] CHECK  (([DATE_EXAME]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[EXAME] CHECK CONSTRAINT [CK_DATE_EXAME]
GO
ALTER TABLE [dbo].[PROFESSEUR]  WITH CHECK ADD  CONSTRAINT [CK_dateNaissance_prof] CHECK  (([DATENAISSANCE]<dateadd(year,(-30),getdate())))
GO
ALTER TABLE [dbo].[PROFESSEUR] CHECK CONSTRAINT [CK_dateNaissance_prof]
GO
ALTER TABLE [dbo].[PROFESSEUR]  WITH CHECK ADD  CONSTRAINT [CK_salire_prof] CHECK  (([SALAIRE]>=(5000) AND [SALAIRE]<=(10000)))
GO
ALTER TABLE [dbo].[PROFESSEUR] CHECK CONSTRAINT [CK_salire_prof]
GO
ALTER TABLE [dbo].[PROFESSEUR]  WITH CHECK ADD  CONSTRAINT [CK_tele_prof] CHECK  (([TELEPHONE] like '05%' OR [TELEPHONE] like '06%' OR [TELEPHONE] like '07%'))
GO
ALTER TABLE [dbo].[PROFESSEUR] CHECK CONSTRAINT [CK_tele_prof]
GO
ALTER TABLE [dbo].[SEANCE]  WITH CHECK ADD  CONSTRAINT [CK_DATE_SEANCE] CHECK  ((datename(weekday,[DATE_SEANCE])<>'sunday'))
GO
ALTER TABLE [dbo].[SEANCE] CHECK CONSTRAINT [CK_DATE_SEANCE]
GO
ALTER TABLE [dbo].[SEANCE]  WITH CHECK ADD  CONSTRAINT [CK_HEURE_DEBUT] CHECK  (([HEURE_DEBUT]='17:30' OR [HEURE_DEBUT]='16:30' OR [HEURE_DEBUT]='15:30' OR [HEURE_DEBUT]='14:30' OR [HEURE_DEBUT]='11:30' OR [HEURE_DEBUT]='10:30' OR [HEURE_DEBUT]='9:30' OR [HEURE_DEBUT]='8:30'))
GO
ALTER TABLE [dbo].[SEANCE] CHECK CONSTRAINT [CK_HEURE_DEBUT]
GO
ALTER TABLE [dbo].[SEANCE]  WITH CHECK ADD  CONSTRAINT [CK_HEURE_FIN] CHECK  (([HEURE_FIN]='18:30' OR [HEURE_FIN]='17:30' OR [HEURE_FIN]='16:30' OR [HEURE_FIN]='15:30' OR [HEURE_FIN]='12:30' OR [HEURE_FIN]='11:30' OR [HEURE_FIN]='10:30' OR [HEURE_FIN]='9:30'))
GO
ALTER TABLE [dbo].[SEANCE] CHECK CONSTRAINT [CK_HEURE_FIN]
GO
ALTER TABLE [dbo].[SEANCE]  WITH CHECK ADD  CONSTRAINT [CK2_DATE_SEANCE] CHECK  (([DATE_SEANCE]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[SEANCE] CHECK CONSTRAINT [CK2_DATE_SEANCE]
GO
ALTER TABLE [dbo].[SEANCE]  WITH CHECK ADD  CONSTRAINT [CK2_HEURE_FIN] CHECK  (([HEURE_FIN]>[HEURE_DEBUT]))
GO
ALTER TABLE [dbo].[SEANCE] CHECK CONSTRAINT [CK2_HEURE_FIN]
GO
/****** Object:  StoredProcedure [dbo].[Emploi]    Script Date: 5/13/2022 5:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create     proc [dbo].[Emploi] @num int
as
	begin
		 declare @emploiS1G1 table(
			[Jour / Temps]   varchar(50),
			[8:30 - 9:30]  varchar(50),
			[9:30 - 10:30] varchar(50),
			[10:30 - 11:30] varchar(50),
			[11:30 - 12:30] varchar(50),
			[14:30 - 15:30] varchar(50),
			[15:30 - 16:30] varchar(50),
			[16:30 - 17:30] varchar(50),
			[17:30 - 18:30] varchar(50)
		)

		if((select ID_GROUP from ETUDIANT where NUMERO_ETUDIANT=@num) = 1)
			begin
				insert into @emploiS1G1 values('Lundi','AR','M','M','FR','','','','')
				insert into @emploiS1G1 values('Mardi','INF','EP','AR','HG','','','','')
				insert into @emploiS1G1 values('Mercredi','HG','ANG','EP','','','','','')
				insert into @emploiS1G1 values('Jeudi','FR','M','M','SVT','EI','AR','PC','EI')
				insert into @emploiS1G1 values('Vendredi','PC','FR','M','AR','','','','')
				insert into @emploiS1G1 values('Samedi','SVT','FR','FR','','','','','')
			end
		else
			begin
				if((select ID_GROUP from ETUDIANT where NUMERO_ETUDIANT=@num) = 2)
					begin
						insert into @emploiS1G1 values('Lundi'    ,'HG' ,'FR'  ,'INF' ,'M'  ,'M'  ,'AR'  ,'EP' ,'EP')
						insert into @emploiS1G1 values('Mardi'    ,'AR' ,'SVT' ,'FR'  ,'FR' ,'' ,'EI'    ,'HG'   ,'')
						insert into @emploiS1G1 values('Mercredi' ,'M'  ,'HG'  ,'M'  ,'M'  ,''    ,''   ,'',''   )
						insert into @emploiS1G1 values('Jeudi'     ,'AR' ,'M'   ,'FR'  ,'HG' ,''  ,''   ,''   ,''   )
						insert into @emploiS1G1 values('Vendredi' ,'M'   ,'M'    ,'ANG'    ,'PC'   ,''   ,'SVT' ,'AR' ,'PC' )
					end
				else
					begin
						if((select ID_GROUP from ETUDIANT where NUMERO_ETUDIANT=@num) = 3)
							begin
								insert into @emploiS1G1 values('Lundi'    ,'ANG'  ,'HG'  ,'PC'  ,'AR'  ,''  ,''   ,''    ,''   )
								insert into @emploiS1G1 values('Mardi'    ,'M'     ,'INF'    ,'INF'    ,'AR'  ,'FR'  ,'M'  ,'M'   ,'HG')
								insert into @emploiS1G1 values('Mercredi' ,''     ,''    ,''    ,''    ,'SVT' ,'FR' ,'PC'  ,'EI')
								insert into @emploiS1G1 values('Jeudi'     ,'HG'   ,'FR'  ,'HG'  ,'M'   ,''   ,''   ,''    ,''   )
								insert into @emploiS1G1 values('Vendredi' ,'AR'   ,'EP'  ,'FR'  ,'M'   ,'' ,''   ,''    ,''  )
								insert into @emploiS1G1 values('Samedi'   ,''     ,'SVT'    ,'M'   ,'M'   ,''  ,''   ,''   ,'')
							end
					end
			end
		select * from @emploiS1G1
	end
GO
/****** Object:  StoredProcedure [dbo].[ExameEtudiant]    Script Date: 5/13/2022 5:28:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     proc [dbo].[ExameEtudiant] @num int
as
begin
	if((month(GETDATE()) between 9 and 12) or (MONTH(getdate())=1))
	begin
		select MODULE.LIBELLE as Module,LEFT(EXAME.DATE_EXAME,10) as [Date], note from notes inner join EXAME on notes.id_exame=EXAME.ID_EXAME inner join MODULE on EXAME.ID_MODULE=MODULE.ID_MODULE inner join APPRENDRE on MODULE.ID_MODULE=APPRENDRE.ID_MODULE where numero_etudiant=11
		and
		APPRENDRE.NUMERO_SECTION=(select SECTION.NUMERO_SECTION from ETUDIANT inner join [GROUP] on ETUDIANT.ID_GROUP=[GROUP].ID_GROUP left join SECTION on [GROUP].NUMERO_SECTION=SECTION.NUMERO_SECTION where ETUDIANT.NUMERO_ETUDIANT=@num)
		and
		MONTH(DATE_EXAME) between 9 and 12 or MONTH(DATE_EXAME) = 1
		order by DATE_EXAME desc,Module.LIBELLE asc
	end
	else
	begin
		if((month(GETDATE()) between 2 and 6))
		begin
			select MODULE.LIBELLE as Module,LEFT(EXAME.DATE_EXAME,10) as [Date], note from notes inner join EXAME on notes.id_exame=EXAME.ID_EXAME inner join MODULE on EXAME.ID_MODULE=MODULE.ID_MODULE inner join APPRENDRE on MODULE.ID_MODULE=APPRENDRE.ID_MODULE where numero_etudiant=11
			and
			APPRENDRE.NUMERO_SECTION=(select SECTION.NUMERO_SECTION from ETUDIANT inner join [GROUP] on ETUDIANT.ID_GROUP=[GROUP].ID_GROUP left join SECTION on [GROUP].NUMERO_SECTION=SECTION.NUMERO_SECTION where ETUDIANT.NUMERO_ETUDIANT=@num)
			and
			MONTH(DATE_EXAME) between 2 and 6
			order by DATE_EXAME desc,Module.LIBELLE asc
		end
	end
end

GO
/****** Object:  StoredProcedure [dbo].[InsertDetailSeance]    Script Date: 5/13/2022 5:28:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     proc [dbo].[InsertDetailSeance] @module varchar(50), @seance int,@group int,@salle int,@prof int,@date date,@heureD time,@heureF time
as
begin
	if (exists(select LIBELLE from MODULE where LIBELLE=@module) and exists(select ID_SEANCE from SEANCE where ID_SEANCE=@seance) and exists(select ID_GROUP from [GROUP] where ID_GROUP=@group) and exists(select NUMERO_SALLE from SALLE where NUMERO_SALLE=@salle) and exists(select MATRICULE from PROFESSEUR where MATRICULE=@prof))
	begin
		declare @proft int = 1
		if(@proft = (select PROFESSEUR from DETAIL_SEANCE inner join SEANCE on DETAIL_SEANCE.ID_SEANCE=SEANCE.ID_SEANCE where PROFESSEUR=@proft and DATE_SEANCE='2022-03-31' and HEURE_DEBUT='08:30:00' and HEURE_FIN='09:30:00'))
			print 'deja existe'
		else
			print 'saisir les donnees'
	end
end


GO
/****** Object:  StoredProcedure [dbo].[NotesEtudiant]    Script Date: 5/13/2022 5:28:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc  [dbo].[NotesEtudiant] @num int
as
	begin
	declare @t table(Module varchar(50), Note float)
				declare @section int = (select NUMERO_SECTION from ETUDIANT inner join [GROUP] on ETUDIANT.ID_GROUP=[GROUP].ID_GROUP where ETUDIANT.NUMERO_ETUDIANT=11)
				declare @module int
				declare c1 cursor for select MODULE.ID_MODULE from APPRENDRE inner join MODULE on APPRENDRE.ID_MODULE=MODULE.ID_MODULE where APPRENDRE.NUMERO_SECTION=@section
		if(month(GETDATE()) between 9 and 12 or MONTH(GETDATE())=1)
		begin
			open c1
				fetch c1 into @module
				while @@FETCH_STATUS = 0
				begin
					--insert into @t values(@module,(select AVG(NOTE) from EXAME where LIBELLE=@module and [DATE] between date))
					insert into @t values((select MODULE.LIBELLE from MODULE where ID_MODULE=@module),(select AVG(NOTE) from notes inner join EXAME on notes.id_exame=EXAME.ID_EXAME inner join MODULE on EXAME.ID_MODULE=@module inner join ETUDIANT on notes.NUMERO_ETUDIANT=@num where  month(DATE_EXAME) between 9 and 12 or MONTH(DATE_EXAME)=1))
					fetch c1 into @module
				end
			close c1
			deallocate c1
			select Module,left(Note,5) as Note,case when NOTE=20 then 'Exelent'
									when NOTE=19 then 'Bravo'
									when NOTE between 17 and 18.99 then 'Tres Bien'
									when NOTE =16 then 'Bien'
									when NOTE between 12 and 15.99 then 'Assez Bien'
									when NOTE between 10 and 11.99 then 'il Faudra Mieux Travaille'
									when Note < 10 then 'Attention!!!'
									end as [Observation] from @t
									order by Module
		end
		else
		begin
			if((month(GETDATE()) between 2 and 6))
			begin
				open c1
				fetch c1 into @module
				while @@FETCH_STATUS = 0
				begin
					--insert into @t values(@module,(select AVG(NOTE) from EXAME where LIBELLE=@module and [DATE] between date))
					insert into @t values((select MODULE.LIBELLE from MODULE where ID_MODULE=@module),(select AVG(NOTE) from notes inner join EXAME on notes.id_exame=EXAME.ID_EXAME inner join MODULE on EXAME.ID_MODULE=@module inner join ETUDIANT on notes.NUMERO_ETUDIANT=@num where  month(DATE_EXAME) between 2 and 6))
					fetch c1 into @module
				end
			close c1
			deallocate c1
			select Module,left(Note,5) as Note,case when NOTE=20 then 'Exelent'
									when NOTE=19 then 'Bravo'
									when NOTE between 17 and 18.99 then 'Tres Bien'
									when NOTE =16 then 'Bien'
									when NOTE between 12 and 15.99 then 'Assez Bien'
									when NOTE between 10 and 11.99 then 'il Faudra Mieux Travaille'
									when Note < 10 then 'Attention!!!'
									end as [Observation] from @t
									order by Module
			end
		end
	end
GO
/****** Object:  StoredProcedure [dbo].[SalleDisponible]    Script Date: 5/13/2022 5:28:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create   proc [dbo].[SalleDisponible] @date date, @heureD time, @heureF time
as
begin
	(select SALLE.NUMERO_SALLE as [Salle] from SALLE left join DETAIL_SEANCE on SALLE.NUMERO_SALLE=DETAIL_SEANCE.NUMERO_SALLE 
										 left join SEANCE on DETAIL_SEANCE.ID_SEANCE=SEANCE.ID_SEANCE)
	except
	(select SALLE.NUMERO_SALLE from SALLE inner join DETAIL_SEANCE on SALLE.NUMERO_SALLE=DETAIL_SEANCE.NUMERO_SALLE 
										 inner join SEANCE on DETAIL_SEANCE.ID_SEANCE=SEANCE.ID_SEANCE
										 where DATE_SEANCE=@date and HEURE_DEBUT=@heureD and HEURE_FIN=@heureF)
end


GO
/****** Object:  StoredProcedure [dbo].[SeanceProf]    Script Date: 5/13/2022 5:28:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[SeanceProf] @num int
as
begin
	select MODULE.LIBELLE [Module],convert(varchar,[GROUP].NUMERO_SECTION)+'AC'+convert(varchar,[GROUP].NUMERO_GROUP) as [Group],NUMERO_SALLE as [Salle],left(DATE_SEANCE,10) as [Date],left(HEURE_DEBUT,5) as [Heure Début],left(HEURE_FIN,5) as [Heure Fin] 
		from [GROUP] inner join DETAIL_SEANCE on [GROUP].ID_GROUP=DETAIL_SEANCE.ID_GROUP inner join MODULE  on MODULE.ID_MODULE=DETAIL_SEANCE.ID_MODULE inner join SEANCE on DETAIL_SEANCE.ID_SEANCE=SEANCE.ID_SEANCE inner join PROFESSEUR on DETAIL_SEANCE.PROFESSEUR=PROFESSEUR.MATRICULE
			where PROFESSEUR.MATRICULE=@num
end
GO
/****** Object:  StoredProcedure [dbo].[TableEtudiant]    Script Date: 5/13/2022 5:28:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create     proc [dbo].[TableEtudiant] as
begin
	select NUMERO_ETUDIANT as[Numero],ID_GROUP as [ID Group],NOM,PRENOM,left(DATENAISSANCE,10) as [Date de Naissance],TELEPHONE,
		ADRESSE,SEXE,EMAIL,MOT_PASSE_ETUDIANT as [Mot de Passe] from ETUDIANT
		order by ID_GROUP asc, NOM asc,PRENOM asc
end
GO
/****** Object:  StoredProcedure [dbo].[TableProf]    Script Date: 5/13/2022 5:28:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create     proc [dbo].[TableProf] as
begin
	select MATRICULE as[Numero],NOM,PRENOM,left(DATENAISSANCE,12) as [Date de Naissance],TELEPHONE,
		ADRESSE,SEXE,EMAIL,MOT_PASSE_PROF as [Mot de Passe],SALAIRE from PROFESSEUR
		order by MATRICULE
end
GO
USE [master]
GO

create or alter trigger Insert_Seance_DetailSeance on DETAIL_SEANCE for insert
as
begin
	declare @d date = (select DATE_SEANCE from SEANCE where ID_SEANCE=(select ID_SEANCE from inserted))
	declare @h_d date = (select HEURE_DEBUT from SEANCE where ID_SEANCE=(select ID_SEANCE from inserted))
	declare @h_f date = (select HEURE_FIN from SEANCE where ID_SEANCE=(select ID_SEANCE from inserted))


	while(@d=)
	begin
		if(@d=3)
		begin
	
		end
	end
	
end


create or alter proc SeanceGroup @Group int
as
begin
	select 
end

